body {
  background: #fff;
  font-size: 11pt;
  font-family: "Open Sans", sans-serif;
}

@media all and (min-width: 960px) {
    body{
        font-size: 11pt;
    }
}

@media all and (max-width: 959px) and (min-width: 600px) {
    body{
        font-size: 12pt;
    }
}

@media all and (max-width: 599px) and (min-width: 320px) {
    body{
        font-size: 14pt;
    }

}
.md-dialog-content ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: italic !important;
}
::-moz-placeholder { /* Firefox 19+ */
  font-style: italic !important;
}
:-ms-input-placeholder { /* IE 10+ */
  font-style: italic !important;
}
:-moz-placeholder { /* Firefox 18- */
  font-style: italic !important;
}

.image-info-box{
  margin-left: 10px;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  background-color: #F0B825;
}

canvas {
  background-color: #f3f3f3;
  -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
  -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
  box-shadow: 3px 3px 3px 0 #e3e3e3;
  border: 1px solid #c3c3c3;
  height: 100px;
  margin: 6px 0 0 6px;
}
.progress {
    display: inline-block;
    border: 3px groove #CCC;
}
.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}
.title_label {
  font-weight: bolder;
}
.required_mark {
  color: rgb(221,44,0);
}
.content-column {
  padding: 30px;
  border:1px solid;
  margin:10px;
}
.content-column-footer {
  padding: 50px;
  border:1px solid;
  margin:10px;
}
.content-column-footer-rights {
  padding-top: 25px;
  border:1px solid;
  height: 80px;
  margin:10px;
}

md-nav-bar .md-button._md-nav-button.md-unselected {
  color: #ffffff;
}
.img-container{
  padding: 15px;
}

.login-form {
  color:#878787;
}

.login-form label {
  font-size: 22px;
  margin: 15px 0;
}



.form-control {
    /*display: block;*/
    height: calc(2.25rem + 1px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-row {
  margin:10px 0;
}

.mdl-data-table td {
  text-align: center !important;
}

.mdl-data-table th {
  text-align: center !important;
}

md-toast.md-error-toast-theme div.md-toast-content{
    color: white !important;
    background-color: red !important;
}

md-toast.md-success-toast-theme div.md-toast-content{
    color: white !important;
    background-color: green !important;
}

/* md-button */
.md-button.save-button {
  background-color: green;
  color: white;
}
.md-button.cancel-button {
  background-color: #cc0000;
  color: white;
}
.md-button.edit-button {
  background-color: #cc6600;
  color: white;
}
.md-button.edit-button:not([disabled]):hover {
  background-color: #e67300;
  color: white;
}

.md-button.save-button:not([disabled]):hover {
  background-color: #248f24;
  color: white;
}
.md-button.cancel-button:not([disabled]):hover {
  background-color: #e60000;
  color: white;
}



a.pages-links  {
  text-decoration: none !important;
  color: #7A7A7A;
}
a.pages-links:hover{
  text-decoration: underline !important;
  color: rgb(255,87,34)
}
a.pages-links span {
  padding: 10px;
}

a.active-link {
  color: rgb(255,87,34)
}
/* Wrapper */

	.wrapper {
		padding: 6em 0em 4em;
		/* Style 1 Wrapper */
		/* Style 2 Wrapper */
		/* Style 3 Wrapper */
	}

		.wrapper.style1 {
			background-color: #F5F5F5;
			border-bottom: 1px solid rgba(144, 144, 144, 0.25);
			border-top: 1px solid rgba(144, 144, 144, 0.25);
		}

			.wrapper.style1 .box {
				background-color: #fff;
				padding: 3em 2.5em;
			}

				.wrapper.style1 .box h2, .wrapper.style1 .box h3, .wrapper.style1 .box h4, .wrapper.style1 .box h5, .wrapper.style1 .box h6 {
					color: #858585;
				}

		.wrapper.style2 .profiles {
			border-bottom: 1px solid rgba(144, 144, 144, 0.25);
			border-top: 1px solid rgba(144, 144, 144, 0.25);
			margin-bottom: 4em;
			padding-top: 4em;
		}

		.wrapper.style2 .profile {
			margin-bottom: 2em;
			text-align: left;
		}

			.wrapper.style2 .profile img {
				border-radius: 50%;
				float: left;
				margin-bottom: 1em;
				margin-right: 1em;
			}

			.wrapper.style2 .profile h4 {
				margin-bottom: 0;
				margin-top: 1em;
			}

		.wrapper.style2 footer {
			margin-left: auto;
			margin-right: auto;
			width: 70%;
		}

			.wrapper.style2 footer p {
				margin-bottom: 3em;
			}

		.wrapper.style3 {
			background-color: #3cadd4;
			color: #ffffff;
		}

			.wrapper.style3 h2, .wrapper.style3 h3, .wrapper.style3 p {
				color: #ffffff;
			}

			.wrapper.style3 input[type="text"],
			.wrapper.style3 input[type="password"],
			.wrapper.style3 input[type="email"],
			.wrapper.style3 select,
			.wrapper.style3 textarea {
				background-color: #fff;
				color: #444;
			}
