<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h3>Detalle galería</h3>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" layout="column" >
        <h5>Información</h5>
        <div layout="row">
          <span flex>Nombre: {{data[0].name}}</span>
          <span flex>Descripción: {{data[0].description}}</span>
        </div>
        <div layout="row">
          <span flex>Página: {{data[0].parent_id}}</span>
          <span flex>Tipo: {{data[0].gallery_type}}</span>
        </div>
        <div layout="column">
          <h5>Imágenes</h5>
          <table>
            <thead>
              <th>Archivo</th>
              <th>Orden</th>
            </thead>
            <tbody>
              <tr ng-repeat="img in data">
                <td>{{img.src}}</td>
                <td>
                  <!--
                  <i class="material-icons md-30">vertical_align_top</i>
                  <i class="material-icons md-30">vertical_align_bottom</i>
                  <i class="material-icons md-30">keyboard_arrow_up</i>
                  <i class="material-icons md-30">keyboard_arrow_down</i>-->
                  <i class="material-icons md-30" style="color: green">arrow_upward</i>
                  <i class="material-icons md-30" style="color: red">arrow_downward</i>


                </td>

              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="end center">

      <md-button class="md-raised md-primary" ng-click="hide()">
       Cerrar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
