<md-content class="md-padding" layout="column" layout-sm="column">
  <h3>Editar Banner</h3>
      <div class="" layout="column">
        <form name="$ctrl.galleryForm" novalidate>
        <div layout="row" layout-xs="column" class="form-row">
          <div flex="10" flex-xs="100" layout="row" layout-align="start center" class="title_label">
            Nombre:
            <span class="required_mark">*</span>
          </div>
          <md-input-container flex >
            <input flex="90" class="form-control" type="text" ng-model="$ctrl.gallery.name" name="name" required/>
            <div flex ng-messages="$ctrl.galleryForm.name.$error">
              <div ng-message="required">Campo requerido</div>
            </div>
          </md-input-container>
          <div flex="10" flex-xs="100" layout="row" layout-align="start center" class="title_label">
            Descripción:
            <span class="required_mark">*</span>
          </div>
          <md-input-container flex >
            <input flex="90" class="form-control" type="text" ng-model="$ctrl.gallery.description" name="description" required/>
            <div flex ng-messages="$ctrl.galleryForm.description.$error">
              <div ng-message="required">Campo requerido</div>
            </div>
          </md-input-container>
        </div>

        <div layout="row" layout-xs="column" class="form-row">
          <div flex="10" flex-xs="100" layout="column" layout-align="center start" class="title_label">Página: </div>
          <md-input-container flex layout="row">
            <input class="form-control" flex="90"lex type="text" ng-value="$ctrl.page" readonly="readonly"/>
          </md-input-container>
          <div flex="10" flex-xs="100" layout="column" layout-align="center start" class="title_label">Tipo: </div>
          <md-input-container flex>
            <input flex="90" class="form-control" type="text" ng-value="$ctrl.type" readonly="readonly"/>
          </md-input-container>
        </div>
        <div layout="row" layout-xs="column" class="form-row" layout-align="center center">
          <md-button class="md-raised save-button" ng-click="$ctrl.update()" ng-disabled="!$ctrl.galleryForm.$valid">
            Guardar
          </md-button>
        </div>
        <hr/>
        <div layout="column">
          <h5>Imágenes</h5>
          <table class="dataTable mdl-data-table">
            <thead>
              <th></th>
              <th>Archivo</th>
              <th colspan="2">Texto</th>
              <th>Orden</th>
            </thead>
            <tbody>
              <tr ng-repeat="img in $ctrl.data">
                <td><a href ng-click="$ctrl.imageSelector(img.gallery_id, img.image_id)"><img ng-src="{{$ctrl.images_url + img.src}}" width="120"/></a></td>
                <td>{{img.src}}</td>
                <td><textarea rows="3" ng-model="img.text" /></td>
                <td>
                  <md-button class="md-raised save-button" ng-click="$ctrl.updateText($index)">
                    Guardar
                  </md-button>
                </td>
                <td>
                  <a ng-if="$index > 0" href ng-click="$ctrl.updateOrder($index, 'up')"><i class="material-icons md-30" style="color: green">arrow_upward</i></a>
                  <a ng-if="($index+1) < $ctrl.data.length" href ng-click="$ctrl.updateOrder($index, 'down')"><i class="material-icons md-30" style="color: red">arrow_downward</i></a>
                </td>

              </tr>
            </tbody>
          </table>

        </div>
        </form>
      </div>
</md-content>
