<md-content flex layout="column">

    <div flex="100" class="img-container" layout="row" layout-align="center center">
      <h3>Sistema Administrador de Contenido de <em>studioblackjeans.com</em></h3>
    </div>
    <img src="images/mayoreo-1.jpg" style="opacity: 0.5; filter: alpha(opacity=50);"/>
    <img src="images/mayoreo-3.jpg" style="opacity: 0.5; filter: alpha(opacity=50);margin: -200px"/>
    <img src="images/mayoreo-2.jpg" style="opacity: 0.5; filter: alpha(opacity=50);margin: -100px"/>

</md-content>
