<md-content class="md-padding" layout="column" layout-sm="column">
      <h3>{{$ctrl.title}}</h3>
      <div class="" layout="column" >
        <form name="$ctrl.productForm" novalidate>
        <div layout="row" layout-xs="column" class="form-row">
          <div flex="10" class="title_label" flex-xs="100" layout="row" layout-align="start center">
            Código:
            <span class="required_mark">*</span>
          </div>
          <md-input-container flex>
            <input flex="90" class="form-control" type="text" name="code" required ng-model="$ctrl.product.code"/>
            <div flex ng-messages="$ctrl.productForm.code.$error">
              <div ng-message="required">Campo requerido</div>
            </div>
          </md-input-container>
          <div flex="10" flex-xs="100" layout="row" layout-align="start center" class="title_label">
            Color:
            <span class="required_mark">*</span>
          </div>
          <md-input-container flex="40" flex-xs="100">
            <input flex="90" class="form-control" type="text" required name="color" ng-model="$ctrl.product.color"/>
            <div flex ng-messages="$ctrl.productForm.color.$error">
              <div ng-message="required">Campo requerido</div>
            </div>
          </md-input-container>
        </div>
        <div layout="row" layout-xs="column" class="form-row">
          <div flex="10" flex-xs="100" layout="column" layout-align="center start" class="title_label">Sexo: </div>
          <div flex="40" flex-xs="100" layout="row">
            <md-input-container flex="30">
              <md-select name="gender" ng-model="$ctrl.product.gender" required ng-disabled="$ctrl.isEdit" ng-change="$ctrl.changeGender();">
                <md-option ng-repeat="gender in $ctrl.genders" ng-value="gender.id">
                  {{gender.name}}
                </md-option>
              </md-select>
              <div flex ng-messages="$ctrl.productForm.gender.$error">
                <div ng-message="required">Campo requerido</div>
              </div>
            </md-input-container>
          </div>
          <div flex="10" flex-xs="100" layout="column" layout-align="center start" class="title_label">Estilo: </div>
          <div flex layout="row">
            <md-input-container flex="50">
              <md-select ng-model="$ctrl.product.style_id" ng-disabled="$ctrl.isEdit">
                <md-option ng-repeat="(index,style) in $ctrl.styles" ng-value="style.style_id">
                  {{style.name}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>
        </div>
        <div layout="row" layout-xs="column" class="form-row">
          <!-- ng-pattern="/^\d+[\.{0,1}]\d{0,2}$/i"-->
          <div flex="10" flex-xs="100" layout="row" layout-align="start center" class="title_label">
            Precio:
            <span class="required_mark">*</span>
          </div>
          <md-input-container flex>
            <input flex="90" name="price" class="form-control" type="number" required ng-model="$ctrl.product.price"/>
            <div flex ng-messages="$ctrl.productForm.price.$error">
              <div ng-message="required">Campo requerido</div>
              <div ng-message="number">Cantidad no válida</div>
            </div>
          </md-input-container>
          <div flex="10" flex-xs="100" layout="column" layout-align="center start" ><span ng-if="$ctrl.isEdit" class="title_label">Tallas:</span> </div>
          <md-input-container flex="40" flex-xs="100" layout="row">
            <input flex="90" class="form-control" type="text" ng-model="$ctrl.product.sizes" readonly="readonly" ng-if="$ctrl.isEdit"/>
          </md-input-container>
        </div>
        <div layout="row" layout-xs="column" class="form-row">
          <div flex="10" flex-xs="100" layout="column" layout-align="center start" class="title_label">Descripción: </div>
          <md-input-container flex layout="column" >
            <textarea rows="2" flex="95" ng-model="$ctrl.product.description"></textarea>
          </md-input-container>
        </div>
        <div layout="row" layout-xs="column" class="form-row" ng-if="$ctrl.isEdit">
          <div flex="10" flex-xs="100" layout="column" layout-align="center start" class="title_label">Publicado: </div>
          <div flex layout="row">
            <md-checkbox ng-model="$ctrl.product.published" aria-label="Checkbox" ng-checked="$ctrl.product.published" ng-true-value="1" ng-false-value="0">
            </md-checkbox>
          </div>
        </div>
        <div layout="row" layout-align="center center">
          <md-button class="md-raised save-button" ng-click="$ctrl.update()" ng-if="$ctrl.isEdit" ng-disabled="!$ctrl.productForm.$valid">
            Guardar
          </md-button>
          <md-button class="md-raised save-button" ng-click="$ctrl.save()" ng-if="!$ctrl.isEdit" ng-disabled="!$ctrl.productForm.$valid">
            Guardar
          </md-button>
        </div>
        <hr/>
        <div layout="column" class="form-row" ng-if="$ctrl.images.length > 0">
          <div flex="10" flex-xs="100" layout="column" layout-align="center start"><h4>Imágenes:</h4> </div>
          <div layout="row">
            <div flex layout="column" layout-align="center center" ng-repeat="img in $ctrl.images">
              <img ng-src="{{$ctrl.images_url + img.src}}" width="200"/>
              <div layout="row" layout-align="center center">
                <md-button flex="25" class="md-raised edit-button" ng-click="$ctrl.imageSelector($ctrl.product.product_id, img.id )">
                  Cambiar
                </md-button>
              </div>
            </div>
          </div

        </div>
        </form>
      </div>
</md-content>
