<md-dialog aria-label="Detalle Talla" flex="50">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3>{{$ctrl.title}}</h3>
      <span flex></span>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div class="md-dialog-content" layout="column">
      <form name="$ctrl.sizeForm" novalidate>
        <div layout="row" layout-xs="column" class="form-row">
          <div flex="10" flex-xs="100" layout="row" layout-align="start center" class="title_label">
            Producto:
            <span class="required_mark">*</span>
          </div>
          <div flex="40" flex-xs="100" layout="row">
            <md-input-container flex>
              <md-select ng-model="$ctrl.size.product_id" name="product_id" required ng-disabled="$ctrl.isEdit" >
                <md-option><em>Ninguno</em></md-option>
                <md-option ng-repeat="product in $ctrl.products" ng-value="product.product_id">
                  {{product.code}}
                </md-option>
              </md-select>
              <div flex ng-messages="$ctrl.sizeForm.product_id.$error">
                <div ng-message="required">Campo requerido</div>
              </div>
            </md-input-container>
          </div>
          <div flex="10" flex-xs="100" layout="row" layout-align="start center" class="title_label">
            Talla:
            <span class="required_mark">*</span>
          </div>
          <md-input-container flex md-no-float>
            <input flex="90" name="size" class="form-control" type="number" nofloat required ng-model="$ctrl.size.size" placeholder="Numérico"/>
            <div flex ng-messages="$ctrl.sizeForm.size.$error">
              <div ng-message="required">Campo requerido</div>
            </div>
          </md-input-container>
        </div>

        <div layout="row" layout-xs="column" class="form-row">
          <div flex="10" flex-xs="100" layout="row" required layout-align="start center" class="title_label">
            Cintura:
            <span class="required_mark">*</span>
          </div>
          <md-input-container flex>
            <input flex="90" class="form-control" type="text" name="waist" required ng-model="$ctrl.size.waist"/>
            <div flex ng-messages="$ctrl.sizeForm.waist.$error">
              <div ng-message="required">Campo requerido</div>
            </div>
          </md-input-container>
          <div flex="10" flex-xs="100" layout="row" layout-align="start center" class="title_label">
            Cadera:
            <span class="required_mark">*</span>
          </div>
          <md-input-container flex>
            <input flex="90" class="form-control" type="text" name="hip" required ng-model="$ctrl.size.hip"/>
            <div flex ng-messages="$ctrl.sizeForm.hip.$error">
              <div ng-message="required">Campo requerido</div>
            </div>
          </md-input-container>
        </div>

        <div layout="row" layout-xs="column" class="form-row">
          <div flex="10" flex-xs="100" layout="row" layout-align="start center" class="title_label">
            Nombre:
            <span class="required_mark">*</span>
          </div>
          <md-input-container flex md-no-float>
            <input flex="40" class="form-control" type="text" required name="description" ng-model="$ctrl.size.description" placeholder="Talla 28"/>
            <div flex ng-messages="$ctrl.sizeForm.description.$error">
              <div ng-message="required">Campo requerido</div>
            </div>
          </md-input-container>
        </div>

        <div layout="row" layout-align="center center">
          <md-button class="md-raised save-button" ng-if="$ctrl.isEdit" ng-click="$ctrl.update()" ng-disabled="!$ctrl.sizeForm.$valid">
            Guardar
          </md-button>
          <md-button class="md-raised save-button" ng-if="!$ctrl.isEdit" ng-click="$ctrl.save()" ng-disabled="!$ctrl.sizeForm.$valid">
            Guardar
          </md-button>
        </div>
        </form>
      </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">

      <md-button class="md-raised md-primary" ng-click="$ctrl.hide()">
       Cerrar
      </md-button>
    </md-dialog-actions>
</md-dialog>
