<md-content class="md-padding" layout="column" layout-sm="column">
      <h3>Detalle estilo</h3>

      <div class="" layout="column" >

        <div layout="row" layout-xs="column" class="form-row">
          <div flex="10" flex-xs="100" layout="column" layout-align="center start">Nombre: </div>
          <div flex layout="row">
            <input flex="90" class="form-control" type="text" ng-model="$ctrl.style.name"/>
          </div>
          <div flex="10" flex-xs="100" layout="column" layout-align="center start">Género: </div>
          <div flex="40" flex-xs="100" layout="row">
            <input flex="90" class="form-control" type="text" value="{{$ctrl.style.gender}}" readonly="readonly"/>
          </div>
        </div>

        <div layout="row" layout-xs="column" class="form-row">
          <div flex="10" flex-xs="100" layout="column" layout-align="center start">Descripción: </div>
          <div flex layout="row" >
            <textarea rows="4" flex="95" ng-model="$ctrl.style.description"></textarea>
          </div>
        </div>

        <div layout="row" layout-align="center center">
          <md-button class="md-raised save-button" ng-click="$ctrl.update()">
            Guardar
          </md-button>
        </div>

        <div layout="row" class="form-row">
          <div flex="10" flex-xs="100" layout="column" layout-align="center start">Imagen: </div>
          <img ng-src="{{$ctrl.images_url + $ctrl.style.src}}" width="200"/>

        </div>
      </div>
</md-content>
