<md-content class="md-padding" layout="column" layout-sm="column">
      <h3>{{$ctrl.title}}</h3>

      <div class="" layout="column" >
        <form name="$ctrl.styleForm" novalidate>

        <div layout="row" layout-xs="column" class="form-row">
          <div flex="10" flex-xs="100" layout="row" layout-align="start center" class="title_label">
            Nombre:
            <span class="required_mark">*</span>
          </div>
          <md-input-container flex>
            <input flex="90" name="name" required class="form-control" type="text" ng-model="$ctrl.style.name"/>
            <div flex ng-messages="$ctrl.styleForm.name.$error">
              <div ng-message="required">Campo requerido</div>
            </div>
          </md-input-container>
          <div flex="10" flex-xs="100" layout="row" layout-align="start center" class="title_label">
            Género:
            <span class="required_mark">*</span>
          </div>
          <div flex="40" flex-xs="100" layout="row">
            <md-input-container flex="30">
              <md-select name="gender" ng-model="$ctrl.style.gender" required ng-disabled="$ctrl.isEdit" ng-change="$ctrl.changeGender();">
                <md-option ng-repeat="gender in $ctrl.genders" ng-value="gender.id">
                  {{gender.name}}
                </md-option>
              </md-select>
              <div flex ng-messages="$ctrl.styleForm.gender.$error">
                <div ng-message="required">Campo requerido</div>
              </div>
            </md-input-container>
          </div>
        </div>

        <div layout="row" layout-xs="column" class="form-row">
          <div flex="10" flex-xs="100" layout="row" layout-align="start center" class="title_label">
            Descripción:
            <span class="required_mark">*</span>
          </div>
          <md-input-container flex layout="column" >
            <textarea rows="2" name="description" flex="95" required ng-model="$ctrl.style.description"></textarea>
            <div flex ng-messages="$ctrl.styleForm.description.$error">
              <div ng-message="required">Campo requerido</div>
            </div>
          </md-input-container>
        </div>
        <div layout="row" layout-xs="column" class="form-row" ng-if="$ctrl.isEdit">
          <div flex="10" flex-xs="100" layout="column" layout-align="center start">Publicado: </div>
          <div flex layout="row">
            <md-checkbox ng-model="$ctrl.style.published" aria-label="Checkbox" ng-checked="$ctrl.style.published" ng-true-value="1" ng-false-value="0">
            </md-checkbox>
          </div>
        </div>
        <div layout="row" layout-align="center center">
          <md-button ng-if="$ctrl.isEdit" class="md-raised save-button" ng-click="$ctrl.update()" ng-disabled="!$ctrl.styleForm.$valid">
            Guardar
          </md-button>
          <md-button ng-if="!$ctrl.isEdit" class="md-raised save-button" ng-click="$ctrl.add()" ng-disabled="!$ctrl.styleForm.$valid">
            Guardar
          </md-button>
        </div>

        <div layout="row" class="form-row" ng-if="$ctrl.isEdit">
          <div flex="10" flex-xs="100" layout="column" layout-align="center start">Imagen: </div>
          <div layout="column">
            <img ng-src="{{$ctrl.images_url + $ctrl.style.src}}" width="200"/>
            <div layout="row" layout-align="center center">
              <md-button flex="25" class="md-raised edit-button" ng-click="$ctrl.imageSelector($ctrl.style_id)">
                Cambiar
              </md-button>
            </div>
          </div

        </div>
        </form>
      </div>
</md-content>
