<div flex layout="column"  id="{{$ctrl.data.id}}">
  <hr/>
  <h3>Bloque {{$ctrl.data.order}}</h3>

  <div flex layout="row" layout-align="start center" class="form-row">
    <label flex="10" flex-xs="25">CSS Bloque</label>
    <input flex="33" flex-xs="70" class="form-control" type="text" ng-model="$ctrl.data.class"/>
  </div>

  <div ng-if="$ctrl.data.title != null" flex layout="row" layout-md="column" layout-xs="column" class="{{$ctrl.data.title.class}} form-row">
    <div flex layout="row" layout-align="start center">
      <label flex="20" flex-xs="25">Título</label>
      <textarea flex="66" flex-xs="70" rows="4" ng-model="$ctrl.data.title.text"></textarea>
    </div>
    <div flex layout="row" layout-align="start center">
      <label flex="20" flex-xs="25">CSS</label>
      <input flex="66" flex-xs="70" class="form-control" type="text" ng-model="$ctrl.data.title.class"/>
    </div>
  </div>

  <div ng-if="$ctrl.data.description != null" flex layout="row" layout-md="column" layout-xs="column" class="form-row">
    <div flex layout="row" layout-align="start center">
      <label flex="20" flex-xs="25">Descripción</label>
      <textarea flex="66" flex-xs="70" name="name" rows="4" ng-model="$ctrl.data.description.text"></textarea>
    </div>
    <div flex layout="row" layout-align="start center">
      <label flex="20" flex-xs="25">CSS</label>
      <input flex="66" flex-xs="70" class="form-control" type="text" ng-model="$ctrl.data.description.class"/>
    </div>
  </div>
  <div layout="row" layout-xs="column" class="form-row" layout-align="center center">
    <md-button class="md-raised save-button" ng-click="$ctrl.saveGral()">
      Guardar
    </md-button>
  </div>
  <h3 ng-if="$ctrl.data.columns[0].element_id != null">Columnas</h3>
  <div flex layout="row" layout-md="column" layout-xs="column">
    <div flex layout="column" ng-repeat="column in $ctrl.data.columns">
      <div layout="row" ng-if="column.title != null && column.title != ''">
        <h5 flex="20">Título</h5>
        <div flex layout="column" layout-align="center start" ng-bind-html="column.title" flex></div>
      </div>
      <element-content data="column"></element-content>
    </div>
  </div>
  <element-content data="$ctrl.data.bottom"></element-content>
</div>
