<div ng-class="{'centered': $ctrl.data.centered }" flex layout="column">
  <div layout-align="center center" layout="row">
    <div flex layout="column" ng-if="$ctrl.data.elementType === 'img'">
      <img flex style="padding:10px" ng-src="{{$ctrl.images_url + $ctrl.data.src}}" class="{{c.class}}"/>
      <div layout="row" layout-align="center center">
        <md-button flex="25" class="md-raised edit-button" ng-click="$ctrl.imageSelector($ctrl.data.element_id)">
          Cambiar
        </md-button>
      </div>
    </div>
    <div flex layout="column" ng-if="$ctrl.data.elementType === 'text'">
      <h5 flex="20">Contenido</h5>
      <div flex ng-bind-html="$ctrl.data.text" flex style="padding:15px"></div>
      <div layout="row" layout-align="center center">
        <md-button flex="25" class="md-raised edit-button" ng-click="$ctrl.showEditor($ctrl.data.element_id)">Editar</md-button>
      </div>
    </div>
  </div>
</div>
