<md-toolbar layout="row" layout-align="center center" ng-if="$ctrl.loggedUser">
    <section layout-align="start center" layout-fill flex>
        <!--<md-button hide-gt-sm ng-click="$ctrl.toggleItemsList()" aria-label="Menu">
            <i class="material-icons">menu</i>
        </md-button>-->
    </section>
    <section layout-align="end center">
        <md-button class="toolbar-button" aria-label="Search">
            <i class="material-icons">search</i>
        </md-button>
        <md-button class="toolbar-button" aria-label="Notifications">
            <i class="material-icons">notifications</i>
            <span class="notifications-label">7</span>
        </md-button>
        <md-button class="toolbar-button" aria-label="Settings" ng-click="$ctrl.toggleItemsList()">
            <i class="material-icons">menu</i>
        </md-button>
        <md-button class="toolbar-button" aria-label="Settings" ng-click="$ctrl.logout()">
            <i class="material-icons">power_settings_new</i>
        </md-button>

    </section>
</md-toolbar>
