<div flex layout="column">
  <div flex layout="row" layout-align="center center">
    <img src="images/logo-negro.png"/>
  </div>
  <div flex layout="row" layout-align="center center">
    <md-content flex="33" flex-xs="66" md-theme="dark" class="md-padding" >

      <div class="login-form" style="border-bottom: 1px solid;">
        <h3>Iniciar sesión</h3>
      </div>
      <form>
        <div layout="column" class="login-form">
          <label>Email</label>
          <input type="text" placeholder="algun@email.com" class="form-control" ng-model="$ctrl.username">
          <label>Password</label>
          <input type="password" placeholder="Password" class="form-control" ng-model="$ctrl.password">
          <div layout="row" layout-align="center center">
            <md-button flex="33" class="md-raised md-primary" ng-click="$ctrl.login()">Enviar</md-button>
          </div>
          <div style="color: red; text-align:center; font-size:18px">
            {{$ctrl.error}}
          </div>
        </div>
        </form>
      </md-content>
  </div>
</div>
